<!DOCTYPE html>

<html>

<head>
    <title>User</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h4>
            LOG IN
        </h4>
        <form id="login">
            <input id="uemail1" type="email" placeholder="Email"/>
            <input id="upwd1" type="password" placeholder="Password"/>
            <button>Log in</button>
        </form>
        <h5 id="loginmessage"></h5>
    </div>
    
    {{>footer}}

    <script src="/js/app3.js" ></script>
</body>

</html>